fastapi==0.110.0
uvicorn==0.27.1
requests==2.31.0
aiofiles==23.2.1
python-multipart==0.0.9
beautifulsoup4==4.12.3
jinja2==3.1.3
send2trash==1.8.2
ZipUnicode==1.1.1
packaging==23.2
pysocks==1.7.1
pytest==7.4.4
httpx==0.27.0